* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

/* Nav bar */

nav {
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(60, 2, 177); */
    background-image: linear-gradient(to right, rgb(69, 2, 139), rgb(7, 35, 195));
    color: white;
    padding: 13px 0;
}

/* Name */
.logo {
    font-size: 22px;
    font-weight: bolder;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li {
    list-style-type: none;
    font-size: 18px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    color: blueviolet;
    transition: all 0.3s;
}

.hero {
    background-color: rgb(245, 247, 255);
    background-image: linear-gradient(to right, rgb(47, 125, 215), rgb(212, 212, 212));
    height: 85vh;
    display: flex;
    justify-content: center;
    gap: 135px;
    align-items: center;
    color: rgb(240, 240, 240);
}

.hero-left #one {
    font-size: 45px;
    color: rgb(42, 26, 108);
    font-weight: bolder;
}

.hero-left #two {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hero-right img {
    width: 200px;
    border: 1px solid rgba(134, 182, 236, 0.934);
    border-radius: 15px;
}

/* First two buttons */

.btn-container {
    padding: 9px 0;
    margin-left: 150px;
}

.btn {
    color: rgb(241, 241, 242);
    background-image: linear-gradient(to right, rgba(92, 14, 176, 0.655), rgba(11, 41, 210, 0.717));
    padding: 4px 7px;
    border: 2px solid rgb(47, 5, 116);
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bolder;
}

.btn:hover {
    background-color: rgb(17, 0, 255);
    transition: all 0.3s ease-in;
}

/* Project  */

.project {
    display: flex;
    align-items: center;
    /* font-family: "Roboto", sans-serif; */
}

#dfyoutube-project img {
    border: 2px solid rgb(105, 31, 241);
    width: 49vw;
}

.project-details {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#dfyoutube-project {
    background-image: linear-gradient(to right, rgb(212, 212, 212), rgb(47, 125, 215));
}

.project-details p {
    font-size: 18px;
    padding: 20px;
}

.project-details div h2 {
    font-weight: bold;
    margin-left: 250px;
}

.project-details button {
    margin-left: 25px;
}

.row-reverse {
    flex-direction: row-reverse;
}

/* Footer */

footer {
    background-color: rgb(42, 26, 108);
    color: white;
    text-align: center;
    padding: 5px;
}

/* Responsive Website */

@media screen and (max-width : 820px) {
    .hero {
        height: 55vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 30px;
        align-items: center;
    }

    .project {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #dfyoutube-project img {
        border: 2px solid rgb(105, 31, 241);
        width: 59vw;
    }

    footer {
        text-align: center;
        padding: 5px;
    }

    #btn3,
    #btn4 {
        margin-bottom: 10px;
    }
}

@media screen and (max-width : 450px) {

    .project,
    .project-details,
    #dfyoutube-project {
        width: 100vw;
        margin: 0;
        padding: 0 5vw;
        box-sizing: border-box;
    }

    nav {
        width: 100vw;
        display: flex;
        flex-direction: column;
        padding: 10px 5px;
    }

    .logo {
        font-size: 20px;
        text-align: center;
    }

    nav ul {
        gap: 18px;
        font-size: 14px;
        justify-content: center;
    }

    .hero-right img {
        width: 100px;
        margin-top: 50px;
    }

    .hero-left #one {
        font-size: 23px;
        text-align: center;
    }

    .hero-left #two {
        font-size: 14px;
        font-weight: bolder;
    }

    .btn {
        font-size: small;
        width: 25vw;
        padding: 2px;
        margin: 5px;
    }

    #btn2 {
        width: 25vw;
    }

    .btn-container {
        display: flex;
        flex-direction: row;
        margin-right: 40vw;
    }

    #dfyoutube-project img {
        width: 70vw;
    }

    .project-details p {
        text-align: center;
        font-size: 15px;
        padding: 20px;
    }

    .project-details div h2 {
        font-size: 15px;
        font-weight: bold;
        display: flex;
        margin: 0 0 10px 120px;
    }
}